@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@300;400&family=Manrope:wght@300;400;500;800&family=Ubuntu:wght@300;400&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Averia Serif Libre', serif;
    font-family: 'Manrope', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}